body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-family: "roboto", sans-serif;
  }
  .heading {
    color: black;
    margin-top: 10px;
  }
  .form {
    width: 400px;
    height: auto;
    color: black;
    font-family: "roboto", sans-serif;
  }
  .submit-btn {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
  }
  .row {
    margin-top: 10px;
    padding: 10px;
  }
  